.banner{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 300px;
    margin-top: 5rem;
    border-radius: 1rem;
    background-color: #1f1f1f;
    color: #fff;
    z-index: 50;
    opacity: 0.9;
}